{% extends 'base.html.twig' %}

{% block title %}DossierCategorie index{% endblock %}

{% block body %}
    <h1>DossierCategorie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dossier_categorie in dossier_categories %}
            <tr>
                <td>{{ dossier_categorie.id }}</td>
                <td>{{ dossier_categorie.date ? dossier_categorie.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('dossier_categorie_show', {'id': dossier_categorie.id}) }}">show</a>
                    <a href="{{ path('dossier_categorie_edit', {'id': dossier_categorie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('dossier_categorie_new') }}">Create new</a>
{% endblock %}
