{% extends 'base.html.twig' %}

{% block title %}DossierCategorie{% endblock %}

{% block body %}
    <h1>DossierCategorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dossier_categorie.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ dossier_categorie.date ? dossier_categorie.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('dossier_categorie_index') }}">back to list</a>

    <a href="{{ path('dossier_categorie_edit', {'id': dossier_categorie.id}) }}">edit</a>

    {{ include('dossier_categorie/_delete_form.html.twig') }}
{% endblock %}
